go 1.26.0

use (
	./jobs
	./jobs/job-runner
	./sandwich
	./welcomer-backend
	./welcomer-core
	./welcomer-gateway
	./welcomer-images
	./welcomer-images-next
	./welcomer-ingest
	./welcomer-interactions
)
