services:
  headless:
    image: chromedp/headless-shell:latest
    environment:
      - PROXY_PORT = ${PORT_WELCOMER_IMAGES_PROXY}
    command:
      [
        "--remote-debugging-port=9222",
        "--remote-debugging-address=0.0.0.0",
        "--proxy-server=http://127.0.0.1:${PROXY_PORT}",
        "--proxy-bypass-list=<-loopback>",
        "--disable-gpu",
        "--no-sandbox",
        "--headless=new",
        "--ignore-certificate-errors"
      ]
    ports:
      - "15000-15005:9222" # expose Chrome DevTools remote debugging
    deploy:
      replicas: 5
      restart_policy:
        condition: on-failure
    shm_size: "1gb"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9222/json/version"]
      interval: 30s
      timeout: 10s
      retries: 3
  